:root {
  --font-family: 'Raleway', sans-serif;
  --background-color: #f4f4f9;
  --text-color: #224779;
  --button-bg-color: #224779;
  --button-bg-hover-color: #7497C4;
  --container-bg-color: white;
  --input-border-color: #ddd;
  --background-color-dark: #121212;
  --text-color-dark: #e0e0e0;
  --button-bg-color-dark: #00574D;
  --button-bg-hover-color-dark: #7497C4;
  --container-bg-color-dark: #1e1e1e;
  --input-border-color-dark: #444;

  font-size: 16px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-image: url('background.svg');
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  padding: 1rem;
  font-size: 1rem;
}

#login-container {
  background: var(--container-bg-color);
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

#logo {
  width: 100px;
  margin-bottom: 1.5rem;
}


h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.3s;
}

button {
  background-color: var(--button-bg-color);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s;
  margin: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

button:hover {
  background-color: var(--button-bg-hover-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#main-logo {
  margin-right: 1rem;
  max-height: 6.25rem;
}

.header-text-container {
  text-align: left;
}

#header-text {
  margin: 0;
  font-size: 2rem;
}

#model-header {
  margin: 0;
  font-size: 1.25rem;
}

#actions, #status {
  text-align: center;
  margin-bottom: 2rem;
}

#mainpage {
  display: none;
  padding: 2rem;
  background-color: var(--container-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

#nav-Bar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.nav-BarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--button-bg-color);
  color: white;
  margin-right: 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.nav-BarButton.active {
  background: var(--button-bg-hover-color);
  font-weight: bold;
}

.nav-BarText {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

#danger-Bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.status {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.status .box {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.danger-Text {
  font-size: 1rem;
  margin: 0;
}

@media (min-width: 768px) {
  #danger-Bar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .status {
    flex-direction: column;
    align-items: center;
  }

  .status .box {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .danger-Text {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .danger-Text {
    font-size: 1.5rem;
  }
}
